<Table height="50%" width="100%">
  <tr width="100%">
    <td width="50%">
      <cdk-virtual-scroll-viewport width="100%" appendOnly itemSize="100" class="cdk-viewport">
        <div *cdkVirtualFor="let item of items" (click)="clickedItem(item)" class="cdk-item">{{item}}</div>
      </cdk-virtual-scroll-viewport>
      Selected Item : {{SelectedItem}}
    </td>
    <td width="50%">
      <ul cdkListbox cdkListboxOrientation="horizontal" aria-labelledby="example-shirt-size-label" class="example-listbox">
        <li *ngFor="let size of sizes" class="example-option" (click)="clickedSize(size)">{{size}}</li>
      </ul>
      Selected Size : {{SelectedOption}}
    </td>
  </tr>
</Table>