.cdk-viewport {
    height: 50%;
    width: 50%;
    border: 1px solid black;
  }
  
  .cdk-item {
    height: 50px;
  }

  .shirt-listbox {
    display: flex;
    width: 250px;
    padding: 0;
  }
  
  .shirt-option {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
    list-style: none;
    padding: 12px;
    border: solid black;
    border-width: 1px 1px 1px 0;
  }
  
  .shirt-option:first-child {
    border-left-width: 1px;
  }
  
  .shirt-option[aria-selected='true']::before {
    content: '';
    position: absolute;
    border: 2px solid black;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
  }
  
  .shirt-option:focus {
    background: rgba(0, 0, 0, 0.2);
  }

  .example-listbox {
    display: flex;
    width: 250px;
    padding: 0;
  }
  
  .example-option {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
    list-style: none;
    padding: 12px;
    border: solid black;
    border-width: 1px 1px 1px 0;
  }
  
  .example-option:first-child {
    border-left-width: 1px;
  }
  
  .example-option[aria-selected='true']::before {
    content: '';
    position: absolute;
    border: 2px solid black;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
  }
  
  .example-option:focus {
    background: rgba(0, 0, 0, 0.2);
  }
  